@charset "UTF-8";
/* CSS Document */

body { background-image:url(../img/filmStrip.png);  background-position: right; background-repeat: repeat-y; margin: 0; padding: 0; z-index: 0; font-family: 'Rambla', Helvetica, Arial, sans-serif; font-weight: 400; }

a { color: #f0741e; text-decoration: none; }

h1 { font-size: 35pt; margin-top: 67px; margin-bottom: 10px; font-weight: 700;}
	
#logo { padding-left: 12px; }

.border1 {border: 1px solid #008800;}
.border2 {border: 1px solid #990000;}
.border3 {border: 1px solid #0066cc;}

strong, .strong {font-weight: 700;}


.logoContainer {width: 200px; position: absolute; left: -230px; margin-top: -7px;}


.contentFrame {float: right; max-width: 830px; min-width: 300px; width: 100%; }

.demoLike { float: right; margin-top: 80px; }


.languageSelecta {float: right; margin: 15px 90px 0 0;}

.contentContainer {
	margin: 45px 90px 0 30px;
	padding: 0;	
	min-width: 200px;
	max-width: 830px;
}

.content { 
	width: 100%;
	position: relative;
}

.printedContent {line-height: 1.3;}

.js .tinynav { display: none }

ul.mainMenu, li.page_item {
	display: inline;	
}

ul.mainMenu, ul.subMenu {
	margin: 0;
	padding: 0;	
}

ul.subMenu {
	position: absolute; top: 31px; 
}

.menuContainer {
	margin-top: 37px;	
}


ul.mainMenu li.page_item a {
	color: #000000;	
	font-weight: 700; 
	font-size: 17pt;
	margin-right: 20px;
}

ul.subMenu li.page_item a {
	color: #999999;	
	font-weight: 700; 
	font-size: 13pt;
	margin-right: 20px;
}

ul.mainMenu li.current_page_parent a,
ul.subMenu li.current_page_item a	
 {
	color: #f0741e; 
}

/* footer { height: 35px; width: 100%; position: absolute; bottom: 0; z-index: 1; } */

.contacts {background-color: #616161; height: 35px; margin-right: 47px; color: #ffffff; text-align: right; padding: 18px 10px 0 0; font-size: 10pt; }
